  <section class="bg-white">
      <div class="container">
          <div class="row justify-content-around align-items-center">
              <div class="col-8 col-md-7 col-lg-6 order-md-2 mb-5 mb-md-0">
                  <%= image_tag('img/graphic-woman-writing.svg', alt: 'graphic-woman-writing', class: 'w-100') %>
              </div>
              <!--end of col-->
              <div class="col-12 col-md-6 col-lg-5 order-md-1">
                  <h1 class="display-4"><strong>Find your Tribe</strong></h1>
                  <span class="lead">
                      An email from AIIME a day, to create the next 10 years of success, today.

                  </span>
                  <div class="mb-4">
                      <span class="text-muted text-small">Our Aiime AI Engine using over 2000 Data points to match your business to every other business signed up to AIIME,<strong> for free.</strong></span>
                  </div>
                  <%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-success' %>

              </div>
              <!--end of col-->
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
    <!--end of section-->
    <section class="space-lg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline list-inline-large">
                        <li class="list-inline-item">
                          <%= image_tag('img/logo-paypal.png', alt: 'logo-paypal', class: 'logo logo-lg') %>
                        </li>
                          <li class="list-inline-item">
                          <%= image_tag('img/logo-slack.png', alt: 'logo-slack', class: 'logo logo-lg') %>
                        </li>
                          <li class="list-inline-item">
                          <%= image_tag('img/logo-invision.png', alt: 'logo-invision', class: 'logo logo-lg') %>
                        </li>
                          <li class="list-inline-item">
                          <%= image_tag('img/logo-intercom.png', alt: 'logo-intercom', class: 'logo logo-lg') %>
                        </li>
                    </ul>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-white space-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="media">
                      <%= image_tag('img/avatar-female-3.jpg', alt: 'avatar-female-3', class: 'avatar avatar-lg') %>

                        <div class="media-body">
                            <p class="h4 mb-2">
                                “With AIIME, we were able to create strategic Parnerships that increased top-line revenue by 300%.”
                            </p>
                            <span>Charly Martin, Le Wagon</span>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-white flush-with-above">
        <div class="container">
            <ul class="feature-list feature-list-lg">
                <li class="row justify-content-around align-items-center">
                    <div class="col-9 col-md-6 col-lg-5">
                      <%= image_tag('img/man.svg', alt: 'man', class: 'img-fluid rounded') %>
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5">
                        <h5>Meet AIIME, our Artificial Interaction Management Engine</h5>
                        <p>
                            We built AIIME to superceed the linear cognitive processing of the Human brain. In lamens terms, we combine your Business Data, Behavioral Data and Customer Persona data to generate over 2000 data points when you sign up! As you use AIIME, your behavior is passed to AIIME to help refine your matches.
                        </p>
                        <%= link_to 'I am ready to meet AIIME', new_user_registration_path %>
                    </div>
                    <!--end of col-->
                </li>
                <li class="row justify-content-around align-items-center">
                    <div class="col-9 col-md-6 col-lg-5 order-lg-2">
                      <%= image_tag('img/graphic-woman-writing-2.svg', alt: 'logo-slack', class: 'img-fluid rouned') %>
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5 order-lg-1">
                        <h5>Create a warm connection </h5>
                        <p>
                            AIIME links every business on the AIIME platform together and defines a rating. This rating is based upon over 2000 data points. AIIME will tell both companies if they match, on what specific criteria and how interested each party is.
                        </p>
                        <%= link_to "Let's start!", new_user_registration_path %>

                    </div>
                    <!--end of col-->
                </li>
            </ul>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-lg">
        <div class="container">
            <div class="row section-intro">
                <div class="col-12 text-center">
                    <h3 class="h1">AIIME's next email could be your next major partnership.</h3>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="col-12 text-center">
              <%= link_to 'Sign Up for Free', new_user_registration_path, :class => 'btn btn-success' %>
            </div>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-xs text-center bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <i class="mr-1 icon-cake"></i>


                    <span>&copy; All Rights Reserved, Clique Media Group Pty Ltd 2018</span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
